<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" xml:lang="{{ settings.language }}" lang="{{ settings.language }}">

<head>
    <meta charset="utf-8" />
    <title>{{ strings.COVER_TITLE }}</title>
    <link rel="stylesheet" type="text/css" href="{{ css_path }}" />
</head>

<body epub:type="cover" class="cover-page">
    <div class="cover-frame"><img src="{{ cover_image_href }}" alt="{{ strings.COVER_TITLE }}" /></div>
</body>

</html>
