<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">

<head>
    <title>表紙</title>
    <meta charset="utf-8" />
    <style>
        body {
            margin: 0;
            padding: 0;
            text-align: center;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>

<body>
    <div><img src="{{ cover_image_href }}" alt="カバー画像" /></div>
</body>

</html>
