<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" xml:lang="{{ settings.language }}" lang="{{ settings.language }}">

<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ css_path }}" />
</head>

<body epub:type="bodymatter">
    <section class="chapter">
        {#- content はすでに整形式 XHTML。ここで再エスケープしないこと -#}
        {{ content }}
    </section>
</body>

</html>
