<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" xml:lang="ja">

<head>
    <title>{{ manifest.core.name }}</title>
    <meta charset="utf-8" />
    {% if css_path %}
    <link rel="stylesheet" type="text/css" href="{{ css_path }}" />{% endif %}
</head>

<body>
    <div class="main-content">
        <h3>
            {% if manifest.core.isPartOf %}
            <span class="series-title-inline">
                {{ manifest.core.isPartOf.name }}{% if manifest.core.isPartOf.order %} #{{ manifest.core.isPartOf.order }}{% endif %}
            </span><br />
            {% endif %}
            {{ manifest.core.name }}
        </h3>
        <p class="author">作者：{{ manifest.core.author.name }}</p>
        <table class="cover-meta-table">
            <tr>
                <td class="spacer-cell"></td>
                <td class="cover-cell">
                    {% if cover_href %}
                    <img src="{{ cover_href }}" alt="カバー画像" />
                    {% endif %}
                </td>
                <td class="char-count-cell">
                    <span class="char-count">{{ text_length | format_number }}文字</span>
                </td>
            </tr>
        </table>

        {% if manifest.core.description %}
        <div class="description">{{ manifest.core.description }}</div>
        {% endif %}

        {% if manifest.core.keywords %}
        <p class="tags">{% for tag in manifest.core.keywords %}#{{ tag }}{% if not loop.last %} {% endif %}{% endfor %}
        </p>
        {% endif %}

        <p class="date">{{ formatted_date }}</p>
        <p class="source-link"><a href="{{ manifest.core.mainEntityOfPage }}">{{ manifest.core.mainEntityOfPage }}</a>
        </p>
    </div>
</body>

</html>
